numpy
pandas
scipy
matplotlib
scikit-learn
jupyterlab
xgboost
PyPrind
nltk
mlxtend
watermark
torch
torchvision
mlxtend
tensorboard
pytorch-lightning
torchmetrics
tensorflow
torchdata
datasets
tokenizers
transformers
networkx
# torch-scatter
# torch-sparse
torch-geometric
